<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- CategoryMapper.xml -->
<mapper namespace="org.zerock.mapper.CategoryMapper">
    <select id="getAllCategories" resultType="org.zerock.domain.CategoryVO">
        SELECT * FROM categories
    </select>
    <select id="getCategoryById" parameterType="int" resultType="org.zerock.domain.CategoryVO">
        SELECT * FROM categories WHERE category_id = #{category_id}
    </select>
    <insert id="insertCategory" parameterType="org.zerock.domain.CategoryVO">
        INSERT INTO categories (category_name) VALUES (#{category_name})
    </insert>
    <update id="updateCategory" parameterType="org.zerock.domain.CategoryVO">
        UPDATE categories SET category_name = #{category_name} WHERE category_id = #{category_id}
    </update>
    <delete id="deleteCategory" parameterType="int">
        DELETE FROM categories WHERE category_id = #{category_id}
    </delete>
</mapper>
  