<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <!-- CommentsMapper.xml -->
<mapper namespace="org.zerock.mapper.CommentsMapper">
    <select id="getAllComments" resultType="org.zerock.domain.CommentsVO">
        SELECT * FROM comments
    </select>
    <select id="getCommentsByTravelId" parameterType="int" resultType="org.zerock.domain.CommentsVO">
        SELECT * FROM comments WHERE travel_id = #{travel_id}
    </select>
    <insert id="insertComments" parameterType="org.zerock.domain.CommentsVO">
        INSERT INTO comments (travel_id, comment_text) VALUES (#{travel_id}, #{comment_text})
    </insert>
    <update id="updateComments" parameterType="org.zerock.domain.CommentsVO">
        UPDATE comments SET travel_id = #{travel_id}, comment_text = #{comment_text} WHERE comment_id = #{comment_id}
    </update>
    <delete id="deleteComments" parameterType="int">
        DELETE FROM comments WHERE comment_id = #{comment_id}
    </delete>
</mapper>
 