<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- TravelInfoMapper.xml -->
<mapper namespace="org.zerock.mapper.TravelInfoMapper">
    
    <resultMap id="travelInfoWithFiles" type="org.zerock.domain.TravelInfoVO">
        <id property="travel_id" column="travel_id"/>
        <result property="destination" column="destination"/>
        <result property="description" column="description"/>
        
		<collection property="files" ofType="org.zerock.domain.FilesVO" javaType="java.util.List">
		    <id property="file_id" column="file_id"/>
		    <result property="file_name" column="file_name"/>
		</collection>

    </resultMap>
    
    
    
    
    
    
    <select id="getAllTravelInfo" resultMap="travelInfoWithFiles">
        SELECT travel_info.travel_id, travel_info.destination, travel_info.description,
               files.file_id, files.file_name
        FROM travel_info
        LEFT JOIN files ON travel_info.travel_id = files.travel_id
    </select>
    <select id="getTravelInfoById" parameterType="int" resultMap="travelInfoWithFiles">
        SELECT travel_info.travel_id, travel_info.destination, travel_info.description,
               files.file_id, files.file_name
        FROM travel_info
        LEFT JOIN files ON travel_info.travel_id = files.travel_id
        WHERE travel_info.travel_id = #{travel_id}
    </select>
    <insert id="insertTravelInfo" parameterType="org.zerock.domain.TravelInfoVO">
        INSERT INTO travel_info (destination, description, category_id) 
        VALUES (#{destination}, #{description}, #{category_id})
    </insert>
    <update id="updateTravelInfo" parameterType="org.zerock.domain.TravelInfoVO">
        UPDATE travel_info SET destination = #{destination}, description = #{description}, 
        category_id = #{category_id} WHERE travel_id = #{travel_id}
    </update>
    <delete id="deleteTravelInfo" parameterType="int">
        DELETE FROM travel_info WHERE travel_id = #{travel_id}
    </delete>
</mapper>
  