/* 슬라이드바 */
@media screen and (min-width: 601px){
.slide_bar_container {
  width: 38%;
  height: 200px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  margin-left: 200px;
}
.slide_bar_info {
  width: 500px;
  height: 80px;
  align-items: center;
  justify-content: space-around;
  display: flex;
}
.slide_bar_info_num {
  display: flex;
  align-items: center;
  padding-left: 10px;
  width: 100px;
  height: 30px;
}
.slide_bar_info_num :nth-child(1) {
  font-size: 1.5rem;
  font-weight: 700;
  color: #2ac1bc;
}

.slide_bar_info_num :nth-child(2) {
  font-size: 1.5rem;
  font-weight: 700;
  color: #a5d6a7;
  margin-left: 7px;
}

.slide_bar_button {
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slide_bar_button > a {
  width: 100%;
  padding-right: 20px;
}
.slide_bar_button > :nth-child(2) {
  padding-left: 5px;
}
/*프로세스 바 */
#progress {
  appearance: none;
  width: 180px;
  height: 10px;
  border-radius: 20px;
}

#progress::-webkit-progress-bar {
  background: #e8f5e9;
  border-radius: 10px;
  box-shadow: inset 3px 3px 10px #ccc;
}

#progress::-webkit-progress-value {
  border-radius: 10px;
  background: #2ac1bc;
}

/*슬라이드 구현*/
.home_slide_container {
  display: flex;
  width: 300vw;
  float: left;
}

.home_slide1 {
  display: flex;
  width: 100vw;
  height: 100%;
  position: relative;
  justify-content: space-around;
}

/* 슬라이드1 */
.home_slide1_text {
  width: 40vw;
  padding-top: 200px;
  padding-left: 400px;
}

.home_slide1_textBox {
  display: flex;
  background-color: #2ac1bc;
  justify-content: flex-start;
  align-items: center;
  width: 400px;
  height: 50px;
  margin-bottom: 50px;
  border-radius: 30px;
}
.home_slide1_text > .home_slide1_textBox > h1 {
  color: white;
  font-size: 38px;
  padding-left: 40px;
}

.home_slide1_text > p {
  color: #2ac1bc;
  font-size: 48px;
  margin-top: 20px;
  padding-bottom: 60px;
}

.home_slide1_button_text > a {
  font-size: 37px;
  color: #a5d6a7;
  text-decoration: underline;
  padding-left: 6px;
}

/* 슬라이드 이미지 박스 */
.home_slide1_imgbox {
  position: relative;
  margin-top: 130px;
  margin-right: 200px;
  width: 60vw;
  height: 65vh;
  border-radius: 50px;
  background-image: url("../img/homimg01.png");
  background-size: cover;
  background-repeat: no-repeat;
}

/* 2번슬라이드 */

.home_slide2 {
  display: flex;
  width: 100vw;
  height: 100%;
  position: relative;
  justify-content: space-around;
  background-color: #f6d6d6;
}

.home_slide2_text {
  width: 40%;
  padding-top: 200px;
  padding-left: 500px;
}

.home_slide2_textBox {
  display: flex;
  background-color: #f59999;
  justify-content: flex-start;
  align-items: center;
  width: 400px;
  height: 50px;
  margin-bottom: 50px;
  border-radius: 30px;
}
.home_slide2_text > .home_slide2_textBox > h1 {
  color: white;
  font-size: 38px;
  padding-left: 40px;
}

.home_slide2_text > p {
  color: #fff;
  font-size: 48px;
  margin-top: 20px;
  padding-bottom: 60px;
}
.hothot {
  color: #de5050;
}

.home_slide2_button_text > a {
  font-size: 37px;
  color: #fff;
  text-decoration: underline;
  padding-left: 6px;
}

.home_slide2_imgbox {
  position: relative;
  margin-top: 130px;
  margin-right: 200px;
  width: 60vw;
  height: 65vh;
  border-radius: 50px;
  background-image: url("../img/homeimg02.png");
  background-size: cover;
  background-repeat: no-repeat;
}
/*3번 슬라이드*/
.home_slide3 {
  display: flex;
  width: 100vw;
  height: 100%;
  position: relative;
  justify-content: space-around;
}

.home_slide3_text {
  width: 40%;
  padding-top: 200px;
  padding-left: 500px;
}

.home_slide3_textBox {
  display: flex;
  background-color: #2ac1bc;
  justify-content: flex-start;
  align-items: center;
  width: 400px;
  height: 50px;
  margin-bottom: 50px;
  border-radius: 30px;
}
.home_slide3_text > .home_slide3_textBox > h1 {
  color: white;
  font-size: 38px;
  padding-left: 40px;
}

.home_slide3_text > p {
  color: #2ac1bc;
  font-size: 48px;
  margin-top: 20px;
  padding-bottom: 60px;
}

.home_slide3_button_text > a {
  font-size: 37px;
  color: #a5d6a7;
  text-decoration: underline;
  padding-left: 6px;
}

.home_slide3_imgbox {
  position: relative;
  margin-top: 130px;
  margin-right: 200px;
  width: 60vw;
  height: 65vh;
  border-radius: 50px;
  background-image: url("../img/homeimg03.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
}

@media screen and (max-width: 600px) {

body{
  width: 100vw;
}

.home{
  width: 100%;
  height: 250px;
}

/*슬라이드 구현*/
.home_slide_container {
  display: flex;
  margin: 30px auto 0;
  width: 90%;
  height: 200px;
  background-color: white;
}

.home_slide1 {  
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
  height: 100%;
  position: relative;
}

/* 슬라이드1 */
.home_slide1_text {
  position: absolute;
  bottom: 80px;
  right: 0px;
  padding-left: 10px;
  width: 150px;
  color: white;
  line-height: 22px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px 0 0 5px;
  z-index: 100;
}

.home_slide1_textBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100px;
  height: 30px;
}
.home_slide1_text > .home_slide1_textBox > h1 {
  color: pink;
  font-size: 14px;
}

.home_slide1_text > p {
  font-size: 12px;
  font-family: "Maplestory Light", sans-serif;
}

.home_slide1_button_text > a {
  display: none;
}

/* 슬라이드 이미지 박스 */
.home_slide1_imgbox {
  position: relative;
  width: 100%;
  height: 200px;
  background-image: url("../img/homimg01.png");
  background-size: cover;
  background-repeat: no-repeat;
}

/* 2번슬라이드 */

.home_slide2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
  height: 100%;
  position: relative;
}

/* 슬라이드1 */
.home_slide2_text {
  position: absolute;
  bottom: 80px;
  right: 0px;
  padding-left: 10px;
  width: 150px;
  color: white;
  line-height: 22px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px 0 0 5px;
  z-index: 100;
}

.home_slide2_textBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100px;
  height: 30px;
}

.home_slide2_text > .home_slide2_textBox > h1 {
  color: pink;
  font-size: 14px;
}

.home_slide2_text > p {
  font-size: 12px;
  font-family: "Maplestory Light", sans-serif;
}

.home_slide2_button_text > a {
  display: none;
}

/* 슬라이드 이미지 박스 */
.home_slide2_imgbox {
  position: relative;
  width: 100%;
  height: 200px;
  background-image: url("../img/homeimg02.png");
  background-size: cover;
  background-repeat: no-repeat;
}
/*3번 슬라이드*/
.home_slide3 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 10px;
}

/* 슬라이드1 */
.home_slide3_text {
  position: absolute;
  bottom: 80px;
  right: 0px;
  padding-left: 10px;
  width: 150px;
  color: white;
  line-height: 22px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px 0 0 5px;
  z-index: 100;
}

.home_slide3_textBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100px;
  height: 30px;
}

.home_slide3_text > .home_slide3_textBox > h1 {
  color: pink;
  font-size: 14px;
}

.home_slide3_text > p {
  font-size: 12px;
  font-family: "Maplestory Light", sans-serif;
}

.home_slide3_button_text > a {
  display: none;
}

.home_slide3_imgbox {
  position: relative;
  width: 100%;
  height: 200px;
  background-image: url("../img/homeimg03.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* 슬라이드 컨테이너에 대한 스타일. 슬라이드가 전환될 때 보이는 영역을 제한합니다. */
.home_slide_container {
  overflow: hidden;
  display: flex;
  position: relative;
}

/* 모든 슬라이드에 대한 기본 스타일 */
.home_slide_container > div {
  display: flex; /* flex로 변경하여 항상 슬라이드가 준비되도록 합니다. */
  flex-direction: column;
  position: absolute; /* 슬라이드가 겹쳐지도록 합니다. */
  width: 100%; /* 컨테이너의 너비와 같게 설정합니다. */
  transition: transform 0.5s ease-in-out; /* 부드러운 전환 효과를 위해 */
}

/* 초기 슬라이드 설정. 이 클래스는 JavaScript에서 관리됩니다. */
.active-slide {
  position: relative; /* 활성 슬라이드를 보이도록 설정합니다. */
  transform: translateX(0); /* 원래 위치로 */
}

/* 이전 슬라이드를 왼쪽으로 밀어내는 효과 */
.prev-slide {
  transform: translateX(-100%); /* 왼쪽으로 이동 */
}


.slide_bar_container {
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
}

.slide_bar_info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 250px;
  height: 50px;
}

.slide_bar_info_num {
  display: flex;
  align-items: center;
  padding-left: 20px;
  width: 100px;
  height: 100%;
}

.slide_bar_info_num :nth-child(1) {
  font-size: 15px;
  font-weight: 700;
  color: #2ac1bc;
}

.slide_bar_info_num :nth-child(2) {
  font-size: 10px;
  font-weight: 400;
  color: #a5d6a7;
  margin-left: 7px;
}

.slide_bar_button {
  display: none;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slide_bar_button > a {
  display: none;
  width: 50%;
}
.slide_bar_button > :nth-child(2) {
  padding-left: 5px;
}

/*프로세스 바 */
#progress {
  appearance: none;
  width: 180px;
  height: 10px;
  border-radius: 20px;
}

#progress::-webkit-progress-bar {
  background: #e8f5e9;
  border-radius: 10px;
  box-shadow: inset 3px 3px 10px #ccc;
}

#progress::-webkit-progress-value {
  border-radius: 10px;
  background: #2ac1bc;
}

.slide-text-animation {
  animation: slideInFromLeft 1s forwards;
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-1000px); 
    opacity: 0;
  }
  to {
    transform: translateX(0); 
    opacity: 1;
  }
}


}